.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-text {
  font-weight: 600;
  color: #a4aeb4;
}
.header-text2 {
  font-weight: 500;
  color: #a4aeb4;
  display: flex;
  align-items: center;
  gap: 10px;
}

.help-link {
  text-decoration: none;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px;
  color: #2696e8;
  display: flex;

  align-items: center;
  padding: 0px;
}
